/* ===========================
   ToC 

   1.0 Phones 0 - 549px 
   1.1 Results
   =========================== */

/* =================
   Custom Properties
   ================= */

:root {
  // Colors
  --color-dark-grayish-blue: 217deg, 19%, 35%;
  --color-dark-blue: 214deg, 17%, 51%;
  --color-grayish-blue: 212deg, 23%, 69%;
  --color-light-grayish-blue: 210deg, 46%, 95%;
  --color-white: 0deg, 0%, 100%;
}

/* =================
   Mixins
   ================= */

// Grid w/borders from https://geary.co/internal-borders-css-grid/

/* ==============================
   1.0 Phones & Tablets 0 - 900px 
   ============================== */

.article {
  border-radius: 10px;
  background-color: hsl(var(--color-white));
  position: relative;

  &-image {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: calc(196px + 1vw);
    object-fit: cover;
    object-position: 0 27%;
  }

  &-info {
    padding-inline: 3rem;
    padding-block-start: 3.5rem;

    &__title {
      font-size: 1.65rem;
    }

    &__para {
      margin-block-start: 1.4rem;
      font-size: 1.37rem;
      color: hsl(var(--color-dark-blue));

      padding-block-end: 2rem;
    }
  }

  &-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
    height: 45px;
    margin-block-start: 0.8rem;
    margin-block-end: 1.5rem;

    &--left {
      display: flex;
      align-items: center;
      gap: 1.8rem;
    }

    &__image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }

    &__author {
      font-size: 1.35rem;
    }

    &__share {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.3rem;
      width: 3.3rem;

      background-color: hsl(var(--color-light-grayish-blue));
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
    margin-block-start: 0.3rem;
    height: 65px;
    border-radius: 0 0 10px 10px;

    background-color: hsl(var(--color-dark-grayish-blue));

    @media (min-width: 500px) {
      height: 56px;
      width: 250px;
      border-radius: 10px;
      justify-content: center;

      position: fixed;
      // left: 668px;
      // top: 205px;

      &:before {
        content: " ";
        display: block;
        position: absolute;
        left: 46%;
        bottom: -8px;
        width: 20px;
        height: 20px;
        background-color: hsl(var(--color-dark-grayish-blue));
        transform: rotate(45deg);
      }
    }

    &__title {
      color: hsl(var(--color-grayish-blue));
      font-size: 1.3rem;
      letter-spacing: 0.35em;
      text-transform: uppercase;
    }

    &--left {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2rem;

      .list {
        display: flex;
        gap: 1.6rem;
        padding-inline: 0;
      }

      .twitter {
        margin-block-start: 0.25rem;
      }
    }

    &__share {
      @extend .article-profile__share;

      background-color: hsl(var(--color-dark-blue));
    }
  }
}
