/* ===========================
   ToC 

   1.0 Phones 0 - 549px 
   1.1 Results
   =========================== */

/* =================
   Custom Properties
   ================= */

:root {
  // Colors
  --color-dark-grayish-blue: 217deg, 19%, 35%;
  --color-dark-blue: 214deg, 17%, 51%;
  --color-grayish-blue: 212deg, 23%, 69%;
  --color-light-grayish-blue: 210deg, 46%, 95%;
  --color-white: 0deg, 0%, 100%;
}

/* =================
   Mixins
   ================= */

// Grid w/borders from https://geary.co/internal-borders-css-grid/

/* ==============================
   1.0 Phones & Tablets 0 - 900px 
   ============================== */

.container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: hsl(var(--color-dark-blue));
  font-size: 2rem;
  row-gap: 2rem;
  padding: 2rem;

  @media (min-width: 500px) {
    padding: 3rem;
    row-gap: 2.5rem;

    max-width: 500px;
    border-radius: 30px;
  }

  @media (min-width: 1200px) {
    max-width: 480px;
    padding-inline-start: 3rem;
    padding-inline-end: 4rem;

    row-gap: 1.5rem;
  }
}

.article {
  border-radius: 10px;
  background-color: hsl(var(--color-white));

  &-image {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: calc(196px + 1vw);
    object-fit: cover;
    object-position: 0 27%;
  }

  &-info {
    padding-inline: 3rem;

    &__title {
      font-size: 1.8rem;
    }

    &__para {
    }
  }

  &-profile {
    &__image {
      height: 50px;
      width: 50px;
    }
  }
}
