/* ===========================
   ToC 

   1.0 Phones 0 - 549px 
   1.1 Results
   =========================== */

/* =================
   Custom Properties
   ================= */

:root {
  // Colors
  --color-dark-grayish-blue: 217deg, 19%, 35%;
  --color-dark-blue: 214deg, 17%, 51%;
  --color-grayish-blue: 212deg, 23%, 69%;
  --color-light-grayish-blue: 210deg, 46%, 95%;
  --color-white: 0deg, 0%, 100%;
}

/* =================
   Mixins
   ================= */

// Grid w/borders from https://geary.co/internal-borders-css-grid/

/* ==============================
   1.0 Phones & Tablets 0 - 900px 
   ============================== */

.article {
  border-radius: 10px;
  background-color: hsl(var(--color-white));
  padding-block-end: 2.1rem;

  &-image {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: calc(196px + 1vw);
    object-fit: cover;
    object-position: 0 27%;
  }

  &-info {
    padding-inline: 3rem;
    padding-block-start: 3.5rem;

    &__title {
      font-size: 1.65rem;
    }

    &__para {
      margin-block-start: 1.4rem;
      font-size: 1.37rem;
      color: hsl(var(--color-dark-blue));
    }
  }

  &-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
    padding-block-start: 3.3rem;

    &--left {
      display: flex;
      align-items: center;
      gap: 1.8rem;
    }

    &__image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }

    &__author {
      font-size: 1.35rem;
    }

    &__share {
      padding: 0.9rem;
      background-color: hsl(var(--color-light-grayish-blue));
      border-radius: 50%;
    }
  }
}
